.profile_card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: left;
    margin-bottom: 20px;
}

.profile_card h2 {
    margin-top: 0;
    color: #0073e6;
}

.profile_card p {
    margin: 5px 0;
    color: black;
}

.profile_card strong {
    color: #555;
}
